.CardsDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}

.card {
  width: 18rem;
}

.weather {
    width: 150px;
    /* height: auto; */
}

.tutu {
  display: flex;
  align-items: center
}
